<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <link href="/resources/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="/resources/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/resources/assets/dist/js/feather.min.js"></script>

    <script src="/resources/js/lib/promise/es6-promise.min.js"></script>
    <script src="/resources/js/lib/axios/axios.min.js"></script>

    <script src="/resources/js/lib/chartjs/chart.min.js"></script>

    <script src="/resources/js/comm/util.js"></script>
    <script src="/resources/js/comm/regex.js"></script>
    <script src="/resources/js/comm/formatter.js"></script>

    <title>Hello</title>
</head>
