<!DOCTYPE html>
<html lang="en">
<head th:replace="/html/comm/head"></head>

<!-- Custom CSS :: START -->
<link href="/resources/css/index.css" rel="stylesheet">
<!-- Custom CSS :: END -->

<body>

    <div class="form-signin">
        <!--<img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="h3 mb-3 fw-normal">Benggri Spring Boot</h1>

        <form class="row g-3 was-validated" id='frm_sign_in' novalidate>
            <div class="form-floating">
                <input type="text" id="usr_id" class="form-control" placeholder="ID" required>
                <label for="usr_id">ID</label>
                <div class="invalid-feedback">
                    Please write your id.
                </div>
            </div>
            <div class="form-floating">
                <input type="password" id="usr_pwd" class="form-control" placeholder="Password" required>
                <label for="usr_pwd">Password</label>
                <div class="invalid-feedback">
                    Please write your password.
                </div>
            </div>
        </form>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <input type="button" id="btn_login" class="w-100 btn btn-lg btn-primary" value="Sign In"/>

        <p>
            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modal_sing_up" id="a_sing_up">Sign Up</a>
        </p>

        <p class="mt-5 mb-3 text-muted">&copy; Created by the Benggri Study Team</p>
    </div>

    <!-- Custom js :: START -->
    <script src="/resources/js/index.js"></script>
    <!-- Custom js :: END -->

    <div th:replace="/html/sign_up"></div>

</body>
</html>