<div class="modal fade" id="modal_sing_up" tabindex="-1" aria-labelledby="sing_up" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sing_up">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 was-validated" novalidate>
                    <div class="mb-3">
                        <label for="sign_up_usr_id" class="col-form-label">ID</label>
                        <input type="text" class="form-control" id="sign_up_usr_id" aria-describedby="usrIdHelp" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please write your id.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="sign_up_usr_pwd" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="sign_up_usr_pwd" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please write your password.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="sign_up_usr_name" class="col-form-label">Name</label>
                        <input type="text" class="form-control" id="sign_up_usr_name" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please write your name.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="sign_up_usr_phone" class="col-form-label">Phone</label>
                        <input type="text" class="form-control" id="sign_up_usr_phone" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please write your phone number.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="sign_up_usr_email" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="sign_up_usr_email" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please write your email address.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>