<!DOCTYPE html>
<html lang="en">
<head th:replace="/html/comm/head"></head>

<!-- Custom CSS :: START -->
<link href="/resources/css/code/codemng.css" rel="stylesheet">
<!-- Custom CSS :: END -->

<body>
    <div class="container">
        <div class="row">
            <main class="col-md-10 col-lg-10">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">그룹코드</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" id="grp_cd_create" class="btn btn-sm btn-outline-secondary">등록</button>
                            <button type="button" id="grp_cd_export" class="btn btn-sm btn-outline-primary">Export</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="grp_cd_grp_cd" placeholder="그룹코드" value="" required="">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="grp_cd_grp_nm" placeholder="그룹명" value="" required="">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="grp_cd_prnt_grp_cd" placeholder="상위그룹코드" value="" required="">
                    </div>
                    <div class="col-sm-2">
                        <select class="form-select" id="grp_cd_use_yn">
                            <option value="">사용여부</option>
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-secondary" id="btn_find_grp_cd">검색</button>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col">공통코드</th>
                            <th class="col">그룹명</th>
                            <th class="col">상위그룹코드</th>
                            <th class="col">사용여부</th>
                        </tr>
                    </thead>
                    <tbody id="grp_cd_list">
                    </tbody>
                </table>
<!--
                <div class="row mb-3 border-bottom border-primary">
                    <div class="col-sm-2 text-center"><p class="fw-bold">공통코드</p></div>
                    <div class="col-sm-3 text-center"><p class="fw-bold">그룹명</p></div>
                    <div class="col-sm-2 text-center"><p class="fw-bold">상위그룹코드</p></div>
                    <div class="col-sm-1 text-center"><p class="fw-bold">사용여부</p></div>
                </div>
                <div class="row mb-3" id="grp_cd_list" style="height: 210px;overflow-y:scroll;">
                </div>
-->
                <div class="row mb-3 cm_pager" id="grp_cd_pager">
                </div>

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">코드</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">등록</button>
                            <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="cd_grp_cd" placeholder="코드" value="" required="">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="cd_cd_nm" placeholder="코드명" value="" required="">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="cd_cd_v" placeholder="코드값" value="" required="">
                    </div>
                    <div class="col-sm-2">
                        <select class="form-select" id="cd_use_yn">
                            <option value="">사용여부</option>
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-secondary" id="btn_find_cd">검색</button>
                    </div>
                </div>
                <div class="row mb-3 border-bottom border-primary">
                    <div class="col-sm-2 text-center"><p class="fw-bold">그룹코드</p></div>
                    <div class="col-sm-2 text-center"><p class="fw-bold">코드</p></div>
                    <div class="col-sm-3 text-center"><p class="fw-bold">코드명</p></div>
                    <div class="col-sm-2 text-center"><p class="fw-bold">코드값</p></div>
                    <div class="col-sm-2 text-center"><p class="fw-bold">순번</p></div>
                    <div class="col-sm-1 text-center"><p class="fw-bold">사용여부</p></div>
                </div>
                <div class="row mb-3" id="cd_list">
                    <div class="col-sm-2 text-center">그룹_코드</div>
                    <div class="col-sm-2 text-center">코드</div>
                    <div class="col-sm-3 text-center">코드_명</div>
                    <div class="col-sm-2 text-center">코드_값</div>
                    <div class="col-sm-2 text-center">순번</div>
                    <div class="col-sm-1 text-center">사용_여부</div>
                </div>

                <div class="row mb-3 cm_pager" id="cd_pager">
                </div>

            </main>
        </div>
    </div>

    <!-- Custom js :: START -->
    <script src="/resources/js/code/codemng.js"></script>
    <!-- Custom js :: END -->

</body>
</html>